.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  width: 0;
  height: 30px;
  color: #000 !important;
  border-style: none;
  padding: 5px;
  outline: none;
  transition: all 0.5s ease-in-out;
  padding-right: 30px;
  padding-left: 10px;
  background-color: transparent;
}

.input-search::placeholder {
  font-weight: 100;
}

.search-icon {
  font-size: 16px;
  margin-right: 10px;
}

.btn-search {
  color: #000 !important;
  border-style: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: -5px;
  top: 10px;
  background-color: transparent;
}

.btn-search:focus ~ .input-search,
.input-search:focus {
  width: 200px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #eee;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 1.75);
}
