.product-card {
  position: relative;
  width: 280px;
  margin: 10px;
  cursor: pointer;
}

.product-outOfStock {
  filter: grayscale(1);
}

.product-isPromo {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #343434;
  font-size: 12px;
  padding: 5px 10px;
}

.product-card > .product-img {
  box-shadow: 0 2px 6px rgb(85 85 85 / 20%);
}

.product-img img {
  object-fit: scale-down;
}

.product-content {
  line-height: 1;
  padding-top: 17px;
}

.product-title-price {
  display: flex;
  justify-content: space-between;
}

.product-title-price h4 {
  font-weight: 700;
}

.product-title-price > h4:first-child {
  color: var(--secondary);
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  transition: all ease-in-out 0.4s;
  flex: 1;
}

.product-title {
  color: var(--primary);
}

.product-price {
  color: var(--primary);
  justify-content: flex-end;
  margin-left: 10px;
  max-width: 80px;
  flex-wrap: wrap;
}

.product-promo-price {
  opacity: 0.6;
  text-decoration: line-through;
}

.product-cart-category {
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
  font-size: 13px;
}

.product-category {
  transition: all 0.4s ease-in-out 0s;
}

.product-cart {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(15px);
  transition: all 0.4s ease-in-out 0s;
}

.product-card:hover .product-cart {
  opacity: 1;
  transform: translateY(0);
}

.product-card:hover .product-category {
  left: 0;
  opacity: 0;
  top: 0;
  transform: translateY(-15px);
}

.product-cart:hover {
  color: var(--primary);
}

.product-action {
  display: flex;
  justify-content: center;
  left: 0;
  /* opacity: 0; */
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
}

.product-action > div {
  position: relative;
  opacity: 0;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  height: 45px;
  width: 45px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.product-card:hover .product-action > div {
  opacity: 1;
  top: 0;
}

.product-action > div:first-child {
  top: -25px;
}

.product-action > div:last-child {
  top: 25px;
}

.product-action > div:hover {
  background-color: var(--primary);
  color: #fff;
}

.products-root {
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 1400px;
  justify-content: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}
