#header {
  background: white;
  /* background: rgb(102, 102, 102);
  background: radial-gradient(
    circle,
    rgba(80, 80, 80, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  ); */
  border-bottom: 1px solid #000;
  width: 100%;
  animation-duration: 200ms;
}

.sticky {
  position: fixed;
  top: 0 !important;
  z-index: 3;
  box-shadow: 0 8px 6px -6px rgba(0 0 0 / 15%);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

ul {
  list-style: none;
}

.main-menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.main-menu li {
  transition: all ease-in-out 0.25s;
  cursor: pointer;
  margin: 0 10px;
  padding: 15px 5px;
  text-transform: uppercase;
  font-family: oswald;
}

.products-menu {
  transition: 0.3s all ease-in;
  padding-top: 8px;
}

.products-menu li {
  padding: 5px 10px;
}

.main-menu li:hover {
  color: var(--primary);
  background-color: #eee;
}

.main-menu li:hover > .sub-menu {
  top: 75px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease 0s;
}

.sub-menu {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  box-shadow: 0 3px 7px rgb(0 0 0 / 10%);
  display: block;
  opacity: 0;
  padding: 15px 0;
  text-align: left;
  transition: all 0.3s ease 0.2s;
  visibility: hidden;
  width: 250px;
  z-index: 999;
  top: 130px;
  margin-left: -30px;
}

.sub-menu li:hover > .categories-sub-menu {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease 0s;
  left: 230px;
}

.categories-sub-menu {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  box-shadow: 0 3px 7px rgb(0 0 0 / 10%);
  display: block;
  opacity: 0;
  padding: 15px 0;
  text-align: left;
  transition: all 0.3s ease 0.2s;
  visibility: hidden;
  width: 250px;
  z-index: 999;
  top: 15px;
  left: 350px;
}

.sub-menu li {
  border-left: 0 solid var(--primary);
  padding: 3px 10px;
  transition: all ease-in-out 0.25s;
  color: black;
}

.sub-menu li:hover {
  border-left-width: 8px;
  padding-left: 18px;
  color: var(--primary);
  background-color: #eee;
}

.btn {
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

.btn:hover {
  color: var(--primary);
}
