:root {
  --primary: #a8741a;
  --secondary: #222;
}

::selection {
  color: #fff;
  background: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.padding-10 {
  padding: 10px 0;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

button,
input,
select,
textarea {
  color: #7e7e7e;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

input,
textarea {
  background: #eceff8;
  border: 2px solid #eceff8;
  height: 45px;
  box-shadow: none;
  padding-left: 10px;
  font-size: 14px;
  color: #626262;
  width: 100%;
}

*:focus {
  outline: none;
}
