:root {
  --primary: #a8741a;
  --secondary: #222;
}

::selection {
  color: #fff;
  background: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1300px) {
  .container {
    max-width: 1000px;
  }
  .top-products-nav > li > h4 {
    font-size: 16px !important;
  }
  .product-card {
    width: 240px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 850px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    max-width: 750px;
  }
  .main-menu {
    display: none;
    visibility: hidden;
  }
  .top-products-nav > li > h4 {
    font-size: 14px !important;
  }
  .products-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .products-container > .filter-sidebar {
    width: calc(100% - 50px);
  }
  .products-sort {
    margin-right: 25px !important;
    margin-left: 25px !important;
  }
  .checkout > div {
    flex-direction: column;
  }
  .contact-title {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    max-width: 600px;
  }
  .order-box {
    flex-direction: column;
  }
  .order-box > div {
    margin: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    max-width: 450px;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}

.padding-10 {
  padding: 10px 0;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.snack-icon {
  color: var(--primary);
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

button,
input,
select,
textarea {
  color: #7e7e7e;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

input,
textarea {
  background: #eceff8;
  border: 2px solid #eceff8;
  height: 45px;
  box-shadow: none;
  padding-left: 10px;
  font-size: 14px;
  color: #626262;
  width: 100%;
}

*:focus {
  outline: none;
}

.link-btn {
  color: #333;
  fill: #333 !important;
  cursor: pointer;
  transition: 0.3s all ease-in;
}

.link-btn:hover {
  color: var(--primary);
}

.mobile-nav-button {
  width: 30px;
  height: 30px;
  transition: all 0.25s ease-in-out;
}

.mobile-nav-button:hover {
  cursor: pointer;
  color: var(--primary);
}

.mobile-nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.mobile-nav ul a {
  cursor: pointer;
  padding: 4px;
  font-size: 18px;
}

.mobile-nav ul a:hover {
  color: var(--primary);
  background: #eee;
}
