.order-details {
  background-color: #eee;
  margin-bottom: -30px;
  padding-bottom: 30px;
}

.order-box {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
}

.order-chip {
  font-family: Poppins, sans-serif;
  border-radius: 15px;
  font-size: 12px;
  padding: 5px 15px;
  margin: 0 5px;
  background: linear-gradient(
    135deg,
    rgba(153, 153, 153, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.order-client-info-row {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
  border: 1px solid #eee;
  padding: 3px 15px;
}

.order-placed {
  font-size: 30px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .order-placed {
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .order-placed {
    font-size: 16px;
  }
  .order-box * {
    font-size: 10px;
    letter-spacing: 0;
  }
}