.checkout-form {
  background: #fff;
}

.checkout-form input:focus,
.checkout-form textarea:focus {
  transition: 0.25s all ease-in;
  background-color: #f5f5f5;
  border-width: 2px;
}

.checkout {
  background-color: #eee;
  margin-bottom: -30px;
  padding-bottom: 30px;
}

.checkout label {
  color: #3e3e3e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #eee;
  display: flex;
  padding: 3px;
  justify-content: center;
}

.input-box {
  width: 100%;
  margin: 10px;
  position: relative;
}

input::placeholder {
  transition: 0.25s all ease-in;
}

input:focus::placeholder {
  color: transparent;
  font-size: 8px;
}

input:not(:placeholder-shown) + .custom-label,
input:focus + .custom-label {
  opacity: 1;
  font-size: 12px;
}

.custom-label {
  transition: 0.25s all ease-in;
  position: absolute;
  font-size: 8px;
  opacity: 0;
  color: grey;
  margin-top: -5px;
  margin-left: 10px;
  top: 0;
}

.terms_and_cond_content h4 {
  color: var(--primary);
  text-transform: uppercase;
}

.terms_and_cond_content p {
  font-family: Poppins, sans-serif;
  font-weight: normal !important;
  font-size: 14px;
}

.confidentialitate-info {
  padding: 5px;
  font-size: 13px;
  color: #666;
  font-family: Poppins, sans-serif;
  line-height: 20px;
}

.confidentialitate-info a:hover {
  color: var(--primary);
}

.paying_options_radio_group {
  background-color: white;
  margin-left: 14px;
}

.paying_options_radio_group label {
  background-color: white;
  justify-content: start;
  padding: 0;
}

.paying_options_radio_group label span {
  font-size: 14px;
  font-family: Oswald, sans-serif;
}
