@import "~react-image-gallery/styles/css/image-gallery.css";

/* Chrome, Safari, Edge, Opera */
input#quantity::-webkit-outer-spin-button,
input#quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input#quantity[type="number"] {
  -moz-appearance: textfield;
}

.oswald-font {
  font-family: Oswald, sans-serif;
}

.original-photo {
  width: 600px;
}

.fullscreen .image-gallery-image {
  height: 100%;
}

.image-gallery-slide.center {
  margin: 0 auto;
}

.image-gallery-slide-wrapper {
  background: #323232;
  margin-right: 20px;
}

@media screen and (max-width: 982px) {
  .image-gallery-slide-wrapper {
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .original-photo {
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .original-photo {
    width: 768px;
  }
}

@media screen and (max-width: 450px) {
  .original-photo {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .original-photo {
    width: 320px;
  }

  .product-details {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.image-gallery-icon:hover {
  color: var(--primary);
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border-color: var(--primary);
  cursor: pointer;
}
