.logo > h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
}

.logo > h3 {
  top: -10px;
  position: relative;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}
